/** Main Colors */
.bg-main, .btn-main:not(:hover) {
    background-color: $main;
}
.link-color--main a:not(:hover):not(.btn):not(.badge):not(.carousel-control), a.link-color--main:not(:hover):not(.btn):not(.badge):not(.carousel-control), .text-color--main {
    color: $main;
}

.link-color--main a:hover:not(.btn):not(.btn):not(.badge):not(.carousel-control), a.link-color--main:hover:not(.btn):not(.badge):not(.carousel-control) {
    color: $main-shade;
}

.btn-main:hover {
    background: $main-shade;
}
.btn-inverse-main:not(:hover) {
    border: 1px solid $main-shade;
    background-color: transparent;
    color: $main-shade;
}
.btn-inverse-main:hover {
    background-color: $main;
    color: $light;
}
/** End Main Colors. */

/** Accent Colors. */
.bg-accent, .btn-accent:not(:hover), .badge-accent:not(:hover) {
    background-color: $accent;
}
.link-color--accent a:not(:hover):not(.btn):not(.badge), .text-color--accent {
    color: $accent;
}
.link-color--accent a:hover:not(.btn):not(.badge), .link-color--accent a.navbar-brand:hover, a.link-color--accent:hover:not(.btn):not(.badge) {
    color: $accent-shade;
}
.btn-accent:hover, span.badge-accent:hover {
    background: $accent-shade;
}
/** End Accent Colors. */

/** Dark Colors. */
.bg-dark, .btn-dark:not(:hover) {
    background-color: $black !important;
}
.overlay--dark {
    background-color: rgba($black, .75%);
}
.link-color--grey a:not(:hover):not(.btn):not(.badge), .text-color--grey {
    color: $grey;
}
.link-color--grey a:hover:not(.btn):not(.badge), .link-color--grey a.navbar-brand:hover, a.link-color--grey:hover {
    color: $grey-tint;
}
.link-color--dark-grey a:hover:not(.btn):not(.badge), .text-color--dark-grey {
    color: $grey-shade;
}
.link-color--light-grey a:not(:hover):not(.btn):not(.badge), .text-color--light-grey {
    color: $grey-tint;
}
.link-color--dark-grey a:hover:not(.btn):not(.badge), .link-color--dark-grey  a.navbar-brand:hover, a.link-color--dark-grey:hover {
    color: $grey-tint;
}
.link-color--light-grey a:hover:not(.btn):not(.badge), .link-color--light-grey a.navbar-brand:hover, a.link-color--light-grey:hover {
    color: $grey-shade;
}
/** End Dark Colors. */

/** Light Colors. */
.overlay--light {
    background-color: rgba($light, .75);
}
.text-color--light {
    color: $light;
}
.link-color--light {
    a:not(:hover):not(.btn):not(.badge) {
        color: $light;
    }
    a:hover:not(.btn):not(.badge) {
        color: $light-shade;
    }
}
/** End Light Colors. */

/* End Brown/Beige Colors */
/** Custom Colors. */
.bg-overlay--light {
    background-color: rgba(255,255,255,0.96);
}
.badge a, .badge:not(.badge-light):not(.badge-white) {
    color: $light-tint !important;
}
.bg-duo {
    color: $light-tint;
    a {
        color: $light-tint;
    }
    &:nth-child(1n+0) {
        background: $accent;
    }
    &:nth-child(2n+0) {
        background: $main;
    }
    @media (min-width: $breakpoint-min-sm) and (max-width: $breakpoint-max-sm) {
        &:nth-child(4), &:nth-child(5) {
            background: $accent !important;
        }
        &:nth-child(2), &:nth-child(3), &:nth-child(6) {
            background: $main-shade !important;
        }
    }
}
/** End Custom Colors. */

/** Misc Colors. */
.bg-dark, .btn-main:not(:hover), .btn-accent:not(:hover), .btn-dark:not(:hover), .text-color--white, .badge {
    color: $light;
}
.btn-accent:hover, .btn-main:hover {
    color: $light;
}
/** End Misc Colors. */

a.carousel-control {
    .svg-inline--fa {
        font-size: 30px;
    }
    &:not(:hover) {
        color: $main;
        opacity: 1;
    }
    &:hover {
        background-color: rgba($main, .75);
    }
}
/* Front Page */
.layout-content {
    .section#section-views-block--services-block-services-offered {
        color: $black;
    }
    .section#section-tigris-content {
        background-color: $black;
        color: white;
    }
    .section#section-myskills {
        color: white;
        text {
            fill: white;
        }
    }
}
/* End Front Page */
.hero--image {
    .overlay {
        &.overlay--dark {
            background: rgba($black, .75);
        }
        &.overlay--main {
            background-image: linear-gradient(to bottom, rgba(#ee5f64, .65), rgba(#ee5f64, .85), rgba(#f0a17e, .95), rgba(#f4c8a7, .85), rgba(#f1d7bb, .65));
        }
        &.overlay--accent {
            background-image: linear-gradient(to top, rgba(#ffe9d4, .75), rgba(#e0dfc3,.85), rgba(#bdd5bd,.85), rgba(#9dc9bf,.85), rgba(#87bac3,.75));
        }
        &.overlay--mix {
            background-image: linear-gradient(to bottom, rgba(#ee5f64, .85), rgba(#dc74b3, .85), rgba(#a397dd, .85), rgba(#78aeda, .85), rgba(#87bac3, .85));
        }
    }
}