.container, .container-fluid {
  .d-flex {
    > * {
      max-width: 100%;
    }
    @media(max-width: 330px) {
      &:not(.item-logo) {
        flex-flow: column !important;
      }
    }
  }
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

[class*="paragraph--width--"] {
  margin: 0 auto;
}
.paragraph--width--tiny {
  width: 33.3333%;
}
.paragraph--width--narrow {
  width: 50%;
}
.paragraph--width--medium {
  width: 66.666667%;
}
.paragraph--width--wide {
  width: 83.333333%;
}
.paragraph--width--full {
  width: 100%;
}
