.hero {
  min-height: 30vh;
  &.hero--intro {
    min-height: 100vh;
  }
  &.hero--title {
    @media(max-width: $breakpoint-max-xs) {
      min-height: 100vh;
    }
    @media(min-width: $breakpoint-min-sm) {

    }
  }
  .overlay {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: inherit;
    height: 100%;
    width: 100%;
  }
}

header {
  > .overlay > .container, > .overlay > .container > .row {
    min-height: inherit;
  }
}
