.hero {
  min-height: 90vh;
  &.hero--intro {

  }
}
.overlay {
  &.overlay--dark {
    //background-image: linear-gradient(180deg,rgba($accent-color,.65) 0,rgba($dark-grey,0.65) 65%);
    background-color: rgba($dark-grey, .75);
    min-height: inherit;
    height: 100%;
    width: 100%;
  }
  &.overlay--cover {
    height: 80%;
    width: 100%;
    background-image: linear-gradient(-180deg, rgba(45,174,240,0) 0,rgba(45,174,240,.5) 35%);
    position: absolute;
    bottom: 0;
    transform: skewY(-6deg);
  }
}
header {
  &.header--nav-fixed-top {
    > .overlay {

    }
  }
  > .overlay > .container, > .overlay > .container > .row {
    min-height: inherit;
  }
}
