.field--name-field-web-skills {
  margin: 15px 0;
}
body:not(.path-frontpage) {
  .layout-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .page-title {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
.path-frontpage{
  .page-title {
    padding-top: 110px;
    padding-bottom: 35px;
  }
  header.loaded {
    background: url("../images/track-trees.jpg") no-repeat center fixed;
    background-size: cover;
  }
}
body:not(.path-taxonomy) {
  h1 {
    text-align: center;
  }
}
.paragraph--type--bp-carousel {
  float: none;
  .carousel-item {
    img {
      width: 100%;
      height: unset;
    }
  }
}
form {
  padding: 15px;
}
