.path-frontpage{
  header.loaded {
    background: url("../images/track-min.jpeg") no-repeat center fixed;
    background-size: cover;
  }
  h2 {
    margin: 25px 0;
  }
}
body:not(.path-frontpage):not(.path-taxonomy) {
  h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 15px;
  }
}
.paragraph--type--bp-carousel {
  float: none;
  .carousel-item {
    img {
      width: 100%;
      height: unset;
    }
  }
}
