body:not(.path-frontpage) {
  .layout-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.path-frontpage{
  header.loaded {
    background: url("../images/track-trees.jpg") no-repeat center fixed;
    background-size: cover;
  }
  .layout-content {
    h2 {
      text-align: center;
    }
  }
}
.page-title {
  padding-top: 110px;
  padding-bottom: 110px;
}
body:not(.path-taxonomy) {
  h1 {
    text-align: center;
  }
}
.paragraph--type--bp-carousel {
  float: none;
  .carousel-item {
    img {
      width: 100%;
      height: unset;
    }
  }
}
.section:not(#section-tigris-local-actions) {
  padding: 25px;
}
form {
  padding: 15px;
}
