{#
/**
 * @file
 * Template to output the menu toggle icon (burger).
 */
#}
<a id="toggle-icon" class="navbar-toggler toggle" title="Menu" href="#off-canvas" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span><span class="sr-only label">{{ 'Menu'|t }}</span>
</a>