html {
  height: 100%;
  width: 100%;
}
h1 {
  padding: 90px 0;
}
h2 {
  padding: 30px 0;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  min-height: 100%;
  > div {
    overflow-x: hidden;
  }
}
main, footer {
  display: flex;
  flex-flow: column;
  min-height: 60vh;
}
/*
main {
  //min-height: 80vh;
  width: 100%;
}
footer {
  //min-height: 35vh;
  width: 100%;
}*/