// Main and accent colors for theme
$accent-color: #7ea5a4;
$accent-hover-color:  darken($accent-color, 10%);
$main-hover-color: #ff9389;
$main-color: #ee5f64;

// Browns
$light-beige: lighten(#f1d7bb, 12%);
$beige: #f1d7bb;
$dark-beige: #e5c4a3;
// Greys
$grey: rgb(66, 66, 73);
$light-grey: lighten($grey, 25%);
$dark-grey: #424249;
// Whites
$dark-white: #f7f7f7;
$white: #fff;
$light-white: lighten($white, 25%);

// Positioning
$spacing: 15px;



$breakpoint-min-sm: 576px;
$breakpoint-min-md: 768px;
$breakpoint-min-lg: 992px;
$breakpoint-min-xl: 1200px;

$breakpoint-max-xs: 575px;
$breakpoint-max-sm: 767px;
$breakpoint-max-md: 991px;
$breakpoint-max-lg: 1199px;
