// Main and accent colors for theme


$accent-tint: #B9DCE2;
$accent: #99ccd5;
$accent-shade: #87BAC3;
$main-tint: #ffafa8;
$main: #ff9389;
$main-shade: #ee5f64;


// Browns/Beiges

$brown: #D69354;

$beige: #f1d7bb;
$beige-tint: lighten($beige, 10%);
$beige-shade: #e5c4a3;

// Greys
$grey: #6678AC;
$grey-tint: lighten($grey, 10%);
$grey-shade: darken($grey, 5%);
// Whites
$light: #fff7f8;
$light-tint: #fff;
$light-shade: #ffe9ec;

// Positioning
$spacing: 15px;



$breakpoint-min-sm: 576px;
$breakpoint-min-md: 768px;
$breakpoint-min-lg: 992px;
$breakpoint-min-xl: 1200px;

$breakpoint-max-xs: 575px;
$breakpoint-max-sm: 767px;
$breakpoint-max-md: 991px;
$breakpoint-max-lg: 1199px;
