// Main and accent colors for theme


$accent-two: #56ff86;
$accent-two-tint: lighten($accent-two, 15%);
$accent-two-shade: darken($accent-two, 15%);
$accent: #6f56ff;
$accent-tint: lighten($accent, 15%);
$accent-shade: darken($accent, 15%);
$main: #56cfff;
$main-tint: lighten($main, 15%);
$main-shade: darken($main, 15%);

$black: #343a40;

// Browns/Beiges

// Greys
$grey: #6678AC;
$grey-tint: lighten($grey, 10%);
$grey-shade: darken($grey, 5%);
// Whites
$light: #fff7f8;
$light-tint: #fff;
$light-shade: #ffe9ec;

// Positioning
$spacing: 15px;



$breakpoint-min-sm: 576px;
$breakpoint-min-md: 768px;
$breakpoint-min-lg: 992px;
$breakpoint-min-xl: 1200px;

$breakpoint-max-xs: 575px;
$breakpoint-max-sm: 767px;
$breakpoint-max-md: 991px;
$breakpoint-max-lg: 1199px;
