.block {
  &.block-block-content {
    padding: $spacing;
  }
  &.block--type-introduction-cta {
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    display: flex;
    flex-flow: row wrap;
    @media(max-width: 330px) {
      flex-flow: column;
    }
    .field {
      flex: 1 1 100%;
    }
    .field--type-link {
      .field__items {
        display: flex;
        align-items: center;
        @media(max-width: 330px) {
          flex-flow: column;
          align-items: flex-start;
          > .field__item {
            margin: 10px 0;
          }
        }
        .field__item {
          &:first-child {
            margin-right: $spacing;
            a:not(.btn) {
              color: #fff;
              font-weight: bolder;
              &:not(:hover) {
                background-color: $main-color;
              }
              &:hover {
                background-color: $main-hover-color;
              }
            }
          }
          &:nth-child(2) {
            a:not(.btn) {
              color: white;
              &:not(:hover) {
                background-color: $light-grey;
              }
              &:hover {
                background-color: $grey;
              }
            }
          }
          a:not(.btn) {
            text-decoration: none;
            display: inline-block;
            font-weight: 400;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
          }
        }
      }
    }
  }
  &.block-page-title-block {
    padding: 15px;
  }
}