.svg-inline--fa {
  margin: 5px;
}

.field--type-fontawesome-icon, .field--name-field-logo-image {
  margin-right: 5px;
}
.path-taxonomy {
  .field--name-field-logo-image {
    img {
      background-color: black;
    }
  }
}

.more-link > a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}