.svg-inline--fa {
  margin: 5px;
}
.btn-outline-light:hover {
  background-color: $main;
  color: $light;
}
.field--type-fontawesome-icon {
  margin-right: 5px;
}

.badge > a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  padding: .25em .4em;
  margin: -.25em -.4em;
}

.more-link > a {
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}