.svg-inline--fa {
  margin: 5px;
}

.field--type-fontawesome-icon, .field--name-field-logo-image {
  margin-right: 5px;
}
.path-taxonomy {
  .field--name-field-logo-image {
    img {
      background-color: black;
    }
  }
}