.card-col {
  margin-top: $spacing;
  margin-bottom: $spacing;
}
.card-col .card-body {
  padding: $spacing;
}
.card--default {
  margin: $spacing;
}
.card {
  &.card-default {
  }
}
.clickable-card:hover {
  text-decoration: none;
  .card {
    background-color: $main-shade;
  }
}