.card-col {
  margin-top: $spacing;
  margin-bottom: $spacing;
}
.card-col .card-body {
  padding: $spacing;
}
.card-default {
  margin: $spacing;
  .svg-inline--fa {
    font-size: 100px;
  }
}
.clickable-card:hover {
  text-decoration: none;
  color: white !important;
  .card {
    background-color: $main-shade;
  }
}
.accordian {
  .card {
    border-width: 3px;
    background-color: $main;
    margin: 15px 0;
    .card-header .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      a:not(.btn):not(:hover) {
        color: white;
      }
      a:not(.btn):hover {
        color: darken(white, 10%);
      }
    }
    .card-block {
      background-color: white;
    }
  }
}