.layout {
    &.layout--onecol {
        padding: $spacing;
       &.layout--taxonomy_term.full-description {
           min-height: 300px;
           height: 100%;
           .layout__region {
               height: 100%;
               display: flex;
               flex-flow: row wrap;
               .field--name-taxonomy-term-link {
                   align-self: flex-end;
                   flex: 100%;
               }
           }
       }
    }
    &.layout--twocol {
        margin: $spacing 0;
        .d-flex {
            > .field {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        &.right-images-preview {
            @media screen and (max-width: $breakpoint-max-sm) {
                .layout__region--first {
                    order: 2;
                }
                .layout__region--second {
                    order: 1;
                }
            }
            .layout__region {
                &.layout__region--first {
                    padding: $spacing;
                    .field:not(.field--name-node-title) {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        &.left-images-preview, &.featured, &.teaser {
            .layout__region {
                &.layout__region--second {
                    padding: $spacing;
                    .field:not(.field--name-node-title) {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}