.layout {
	.layout__region {
		@media (max-width: $breakpoint-max-xs) {
			.d-flex:not(.dates):not(.item-logo) {
				flex-flow: column;
			}
		}
	}
	&.layout--onecol {
		padding: $spacing 0;
		&.layout--taxonomy_term.featured {
			height: 100%;
     .layout__region--content {
       display: flex;
       flex-flow: row wrap;
       justify-content: center;
       height: 100%;
	     position: relative;
	     width: 100%;
	     .field--name-field-logo-image, .field--name-field-logo-image img {
		     width: 100%;
	     }
       .field--name-taxonomy-term-title {
	       width:  100%;
	       text-align: center;
	       position: absolute;
	       bottom: 0;
	       right: 0;
	       left: 0;
	       border-top: 3px solid $main;
	       background-color: rgba($black, .96);
	       h3 {
		       padding: 0;
	       }
	       a, h3 {
		       display: block;
		       width: 100%;
		       height: 100%;
	       }
	       a {
		       padding: 15px 0;
	       }
       }

	     a {
		     color: $main-tint;
		     text-decoration: none;
	     }
	     a:hover {
		     color: $main;
	     }
     }
		}
		&.full-description {
			background-color: $light-tint;
			padding: 15px;
			height: 100%;
		}
	}
	&.layout--twocol, &.layout--twocol-section {
		display: grid;
    row-gap: 15px;
	}
}

@media screen and (min-width: $breakpoint-min-md) {
  &.layout--twocol, &.layout--twocol-section {
    grid-template-areas: "left right"
    "left right";
    column-gap: 15px;
    row-gap: 0;
    > .layout__region:first-child {
      grid-area: left
    }
    > .layout__region:nth-child(2) {
      grid-area: right;
    }
  }
}
