.previews {
  display: grid;
  justify-content: center;
  grid-template-areas:
  "desktop desktop desktop"
  "tablet tablet mobile";
  column-gap: 15px;
  row-gap: 15px;
  .previews__desktop {
    grid-area: desktop;
    img {
      width: 100%;
    }
    &:before {
      content: 'Desktop';
      text-align: center;
      background-color: $black;
      color: $main;
      display: block;
    }
  }
  .previews__desktop, .previews__tablet, .previews__mobile {
    &:before {
      text-align: center;
      background-color: $black;
      color: white;
      border-top: 2px solid $main;
      border-bottom: 2px solid $main;
      display: block;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }
  .previews__tablet {
    grid-area: tablet;
    &:before {
      content: 'Tablet';
    }
  }
  .previews__mobile {
    grid-area: mobile;
    &:before {
      content: 'Mobile';
    }
  }
}
