.navbar {
  &.navbar-custom {
    &.js-invisible {
      -webkit-transform: translateY(-100%)!important;
      -moz-transform: translateY(-100%)!important;
      -o-transform: translateY(-100%)!important;
      transform: translateY(-100%)!important;
      -webkit-transition: -webkit-transform .2s!important;
      -moz-transition: -moz-transform .2s!important;
      -o-transition: -o-transform .2s!important;
      transition: all .2s!important;
    }
    &.js-visible {
      -webkit-transform: translateY(0)!important;
      -moz-transform: translateY(0)!important;
      -o-transform: translateY(0)!important;
      transform: translateY(0)!important;
      transition: transform .3s,height .3s,background .3s,opacity .3s,border-color 0.3s;
    }
    a.nav-link {
      padding: 0;
      margin-left: .5rem;
      margin-right: .5rem;
    }
    *:not(.active) > a.nav-link:not(:hover), .nav-link:not(:hover):not(.active) {
      border-bottom: 2px solid transparent;
    }
    a {
      color: $light-tint;
    }
    a:hover {
      color: $light;
    }
    .active > a.nav-link, .nav-link:hover {
      border-bottom: 2px solid white;
    }
    &.has-color {
      border-bottom: 2px solid white;
      background-color: $main !important;
    }
    a {
      font-weight: bolder;
      font-size: 25px;
    }
  }
  &.logo-dark {
    background-color: $light-tint;
  }
  &.logo-light {
    background-color: $grey-shade;
  }

  &.navbar-expand-lg {
    @media screen and (max-width: $breakpoint-max-lg) {

    }
    @media screen and (min-width: $breakpoint-min-lg) {
      height: 70px;
    }
  }
}
#toolbar-bar {
  z-index: 1050;
}
.nav-link {
  display: inline-block;
}
.navbar-brand {
  display: flex;
  align-items: center;
}


a.navbar-toggler {
  display: inline-block;
}
