.menu {
  &.menu--professional-profiles {
    margin: 35px 0;
    ul.nav.nav-pills {
      border: 3px solid $main;
      height: 30px;
      position: relative;
      align-items: center;
      a {
        display: inline-block;
        .svg-inline--fa  {
          border-radius: 50%;
          border: 2px solid $main;
          background-color: $light;
          padding: 15px;
          height: 55px;
          width: 55px;
          &.fa-drupal {
            color: #0074b8;
          }
          &.fa-github-square {
            color: black;
          }
          &.fa-gitlab {
            color: #f75620;
          }
          &.fa-linkedin {
            color: #4d99bd;
          }
        }
        &:hover {
          .svg-inline--fa {
            background-color: lighten($accent, 35%);
          }
        }
      }
    }
  }
  .nav {
    &.nav-pills {
      display: -webkit-flex;
      display: flex;
      .nav-item {
        text-align: center;
        -webkit-flex: 1;
        flex: 1;
      }
    }
  }
}
nav {
  &.breadcrumb {
    margin: 0;
  }
}

.mm-menu.mm-menu_offcanvas {
  background-color: $main-shade;
  a.nav-link {
    padding-left: 15px;
    font-size: 25px;
  }
  a.nav-link:hover {
    background-color: rgba($accent-shade, .75);
  }
  a.mm-navbar__title {
    display: none;
  }
}