.path-frontpage {
  a[href='/'].nav-link  {
    border-bottom: 2px solid;
  }
}
.navbar {
  &.navbar-custom {
    &.js-invisible {
      -webkit-transform: translateY(-100%)!important;
      -moz-transform: translateY(-100%)!important;
      -o-transform: translateY(-100%)!important;
      transform: translateY(-100%)!important;
      -webkit-transition: -webkit-transform .2s!important;
      -moz-transition: -moz-transform .2s!important;
      -o-transition: -o-transform .2s!important;
      transition: all .2s!important;
    }
    &.js-visible {
      -webkit-transform: translateY(0)!important;
      -moz-transform: translateY(0)!important;
      -o-transform: translateY(0)!important;
      transform: translateY(0)!important;
      transition: transform .3s,height .3s,background .3s,opacity .3s,border-color 0.3s;
    }
    &:not(.bg-overylay--light) {
      a.nav-link {
        padding: 0;
        margin-left: .5rem;
        margin-right: .5rem;
      }
      .active > a.nav-link, .nav-link:hover {
        border-bottom: 2px solid;
      }
      a {
        color: $light-tint;
      }
      a:hover {
        color: $light;
      }
    }
    &.bg-overlay--light {
      a {
        color: $main;
      }
      a:hover {
        color: $main-shade;
        &.nav-link {
          border-bottom: 2px solid;
        }
      }
      .navbar-toggler-icon, .responsive-menu-toggle-icon::before, .responsive-menu-toggle-icon::after {
        background-color: $main !important;
      }
    }
    a {
      font-weight: bolder;
      font-size: 25px;
    }
  }
  &.logo-dark {
    background-color: $light-tint;
  }
  &.logo-light {
    background-color: $grey-shade;
  }

  &.navbar-expand-lg {
    @media screen and (max-width: $breakpoint-max-lg) {

    }
    @media screen and (min-width: $breakpoint-min-lg) {
      height: 70px;
    }
  }
}
#toolbar-bar {
  z-index: 1050;
}
.nav-link {
  display: inline-block;
}
.navbar-brand {
  display: flex;
  align-items: center;
}


a.navbar-toggler {
  display: inline-block;
}
