.navbar {
  &.navbar-custom {
    a {
      font-weight: bolder;
      font-size: 25px;
    }
  }
  &.logo-dark {
    background-color: $light-tint;
  }
  &.logo-light {
    background-color: $grey-shade;
  }

  &.navbar-expand-lg {
    @media screen and (max-width: $breakpoint-max-lg) {

    }
    @media screen and (min-width: $breakpoint-min-lg) {
      height: 70px;
    }
  }
}
#toolbar-bar {
  z-index: 1050;
}
.nav-link {
  display: inline-block;
}
.navbar-brand {
  display: flex;
  align-items: center;
}


a.navbar-toggler {
  display: inline-block;
}
/*
.navbar-toggler-icon, .responsive-menu-toggle-icon::before, .responsive-menu-toggle-icon::after {
  background-color: $main-color !important;
}
*/