.path-node {
  .node__content > section.paragraph {
    padding: 30px 0;
  }
  .field--name-field-section-heading {
    h2 {
      text-align: center;
    }
    h3 {
      border-bottom: 2px solid $beige-tint;
    }
  }
}