.paragraph--type--bp-columns {
  > .col-12 {
    min-height: 100%;
    > .paragraph {
      min-height: 100%;
    }
    @media(max-width: $breakpoint-max-sm) {
      &.col-duo {
        &:nth-child(1) {
          &.col-text-wrapper {
            order: 2;
          }
        }
        &:nth-child(2) {
          &.col-image-wrapper, &.col-bp-carousel-wrapper {
            order: 1;
          }
        }
      }
    }
  }
}

.paragraph--type--bp-image {
  .paragraph__column {
    .field--name-bp-image-field {
      background: white;
    }
    .field--name-field-image-text {
    }
  }
}