.view-web-skills {
  .view-content.row {
    justify-content: center;
    .views-field-nothing, .field-content {
        height: 100%;
        width: 100%;
    }
    .svg-inline--fa {
      width: 350px;
      height: initial;
      max-width:90%;
    }
    .image-style-card {
      margin: 0 auto;
    }
  }
}
.view-my-work {
  .view-content {
    margin: 0;
  }
  .view-content > div:not(:last-child) {
    padding: 35px 0;
    border-bottom: 2px solid $light-beige;
  }
  .field--name-field-project-source {
    .field__label {
      display: none;
    }
  }
}





