.view-my-work.view-display-id-page_my_work {
  .view-content {
    margin: 0;
  }
  .view-content > div:not(:last-child) {
    padding: 35px 0;
    border-bottom: 2px solid lightgrey;
  }
  .field--name-field-project-source {
    .field__label {
      display: none;
    }
  }
}





