#block-views-block-web-skills-block-web-skills {
  h2 {
    text-align: center;
    padding: 15px 0;
  }
  .view-content.row {
    justify-content: center;
    .views-field-nothing, .field-content {
        height: 100%;
        width: 100%;
    }
    .svg-inline--fa {
      width: 350px;
      height: initial;
      max-width:90%;
    }
    .image-style-card {
      margin: 0 auto;
    }
  }
}





