{% extends 'paragraph--default.html.twig' %}

{% block paragraph %}
{# Prints div with classes, and content without Width and Background. #}
<div{{ attributes.addClass(classes) }}>
  <div class="paragraph__column">
    {{ title_suffix }}
    {% if content.bp_link|render is not empty %}
      <a href="{{ content.bp_link.0['#url'] }}">
    {% endif %}
      {{ content|without('bp_width', 'bp_background', 'field_background_color', 'field_vertical_alignment', 'field_horizontal_alignment') }}
    {% if content.bp_link|render is not empty %}
      </a>
    {% endif %}
  </div>
</div>
{% endblock %}