{% extends 'paragraph--default.html.twig' %}

{% block paragraph %}
<div{{ attributes.addClass(classes, 'row') }}>
    {% set count = content['bp_column_content']['#items'].getValue|length %}
    {% for key, item in content.bp_column_content if '#' not in key %}
        {{ item }}
    {% endfor %}
</div>
{% endblock %}