{% extends 'paragraph--default.html.twig' %}

{% block paragraph %}
{# Prints div with classes, and content without Width and Background. #}
<section {{ attributes.addClass(classes, 'row') }}>
  <div class="paragraph__column col-12">
    {{ title_suffix }}
    {{ content|without('bp_width', 'bp_background', 'field_background_color') }}
  </div>
</section>
{% endblock %}