{% extends 'paragraph--default.html.twig' %}

{% block paragraph %}
{# Prints div with classes, and content without Width and Background. #}
<div{{ attributes.addClass(classes) }}>
  <div class="paragraph__column">
    {{ title_suffix }}
    {{ content|without('bp_width', 'bp_background') }}
  </div>
</div>
{% endblock %}